body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-color: #111; */
    color: white;
}

#page1 {
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    width: 100%;
    height: 100%;
    background-color: rgb(80, 197, 13);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3 {
    width: 100%;
    height: 100%;
    background-color: rgb(59, 33, 174);
    display: flex;
    align-items: center;
    justify-content: center;
}